@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<body>
    <div class="text-center">
        <h1 class="display-4">A Song To Lift Your Spirit</h1>
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ADP65wbBUpc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
    </div>

    <style>
        body {
            background-color: #FFB6C1;
        }

        h1 {
            color: #A52A2A;
            font-weight: bold;
        }
    </style>

    <div id="path">
        <div id="brick"></div>
    </div>
 

</body>
